@media(max-width: 500px){
    .main-newsletter{
        overflow-x: hidden;
    }

    .sections-newsletter{
        width: auto;
        height: auto;
        border-radius: 0;
    }

    .sections-newsletter.main-section{
        flex-direction: column-reverse;
    }

    .sections-newsletter .info-newsletter h2{
        font-size: 2.8rem;
    }

    .sections-newsletter .image-newsletter{
        width: 500px;
        height: 500px;
    }

    .sections-newsletter .image-newsletter img{
        max-height: none;
        height: 100vh;
    }

    .sections-newsletter .info-newsletter{
        margin-left: 0rem;
    }

    .sections-newsletter .info-newsletter .btn{
        margin-bottom: 1rem;
    }
}
